
/* Recent Posts */

.blog {
  width: 100%;
}

.blog p {
  width: 70%;
  margin: 0 auto;
}

.blog_list {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.25rem;
}

.blog_list section {
  width: 337px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.4);
}

.blog_img img {
  width: 100%;
  height: 200px;
}

.blog_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 191px;
  padding: 0.5rem 1.25rem;
}

.blog_contents h4 {
  margin-bottom: 0.5rem;
}

.blog_contents p {
  width: 100%;
}

.blog_contents a {
  display: inline-block;
  color: var(--secondary-color);
}